<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="banner-box">
        <div class="wrap">
            <div class="main-top">
                <div class="main">
                    <div class="banner">

                        <div class="col_1_of_3 span_1_of_3">
                            <h3>About</h3>

                        </div><br><br><br>
                        

                        <p align="justify">In Pakistan, every year more than <strong>10,000 </strong>people  dies due to non availability of blood. It was necessary to make a  platform so that every one who need the blood can get the blood in no  time. <strong>BLOODPK </strong>is here to serve you. </p>
                        <br><p align="justify">This is for those people who need blood. </p>
                        <br><p><em><strong>Our mission is to serve the     			humanity</strong></em></p>
                        <br><p dir="ltr" align="justify">There was a great process building the site user friendly and much more easier. If you encounter any     				problem regarding scripting, Database, dead links etc, you can email us at <a href="mailto:info@bloodpk.com"><u>info@bloodpk.com</u></a>. We would like to have comments and suggestion on our this effort. </p>
                        <br><br><p align="left">
                            Thank You,<br />
                            BLOODPK Team.
                        </p>

                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
