<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="banner-box">
        <div class="wrap">
            <div class="main-top">
                <div class="main">
                    <div class="banner">
                        
                        <div class="col_1_of_3 span_1_of_3">
                        
                        </div>
                        <img src="~/images/lhr-ambulance.jpg" alt="" />

                        <img src="~/images/lhr-blood.jpg" alt="" />
                        
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
